.primaryBg {
  background-image: url("../../images/Rectangle\ 101.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.supportBg {
  background-image: url("../../images/Rectangle\ 100.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  margin-top: -215px;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .supportBg {
    margin-top: -100px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .supportBg {
    margin-top: -100px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .supportBg {
    margin-top: -115px;
    height: 110vh;
  }
}
