.businessPolicy {
  background-image: url("../../images/Rectangle\ 20.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-top: -240px;
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
}

// button style
.btn {
  border: none;
  box-shadow: none !important;
  &:hover,
  &:focus {
    background-color: #fb0043 !important;
  }
}

.businessBtn {
  background-color: #fb0043 !important;
}
