.statisticsContainer {
  h2 {
    font-weight: 500;
    font-size: 68px;
    line-height: 80%;
    color: #fb0043;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    font-size: 22px;
    line-height: 80%;
    color: #000434;
  }

  margin-bottom: 100px;
}
