.statisticsContainer {
  padding: 80px 10px;
  h2 {
    font-weight: 500;
    font-size: 68px;
    line-height: 80%;
    color: #fb0043;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    font-size: 22px;
    line-height: 80%;
    color: #000434;
  }

  margin-bottom: 100px;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .statisticsContainer {
    justify-content: center;
    align-items: center;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .statisticsContainer {
    justify-content: center;
    align-items: center;
  }
}
