.NavBar {
  background-image: url("../../images/Rectangle\ 86.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10vh;
  padding: 75px 10px;
}

.NavMenu {
  a {
    margin-right: 20px;
    color: #fff !important;
  }
}

.navbar-light .navbar-toggler {
  background: #ffffff;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .NavBar {
    margin-bottom: 70px;
    padding: 40px;
    position: relative;
    z-index: 999;
    background-size: cover !important;
    height: auto !important;
    padding: 30px !important;
  }

  .navbar-collapse {
    padding: 40px;
    margin-top: 10px;
    a {
      color: white !important;
    }
  }
  .navbar-nav {
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .NavBar {
    margin-bottom: 70px;
    padding: 40px;
    position: relative;
    z-index: 999;
    background-size: cover !important;
    height: auto !important;
    padding: 55px !important;
  }

  .navbar-collapse {
    padding: 40px;
    margin-top: 10px;

    a {
      color: white !important;
    }
  }
  .navbar-nav {
    text-align: center;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .NavBar {
    background-size: contain;
    height: 10vh;
    padding: 80px 10px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .NavBar {
    background-size: contain;
    height: 10vh;
    padding: 80px 10px;
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .NavBar {
    background-size: contain;
    height: 10vh;
    padding: 55px 10px;
  }
}
