.client {
  h2 {
    font-family: "Merriweather", serif;
    margin-bottom: 100px;
  }
  // background-image: url("../../../images/Rectangle\ 103.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // width: 100%;
  // height: 70vh;
}

// Client container style
.clientFeedContainer {
  // margin-top: -360px;
  .container {
    width: 700px !important;
    display: flex;
    flex-direction: column;
  }
}
