.resourcesImg {
  img {
    border-radius: 10px;
  }

  margin-bottom: 15px;
}

.heading {
  color: #000434;
}

.articleBtn {
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  width: 212px;
  height: 62px;
  background: #fb0043;
  border-radius: 6px;
  border: none;
  margin-top: 60px;
}
